@tailwind base;
@tailwind components;
@tailwind utilities;

#home-slider {
    width: 100%;
    .swiper-slide {
        position: relative;
        height: 800px;

        @media screen and (max-width: 1200px) {
            & {
                height: 600px;
            }
        }

        @media screen and (max-width: 900px) {
            & {
                height: 500px;
            }
        }

        @media screen and (max-width: 670px) {
            & {
                height: 380px;
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .swiper-slider-metadata {
            position: absolute;
            left: 100px;
            top: 100px;
        }
    }
}
