@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "OpenSans-Bold";
    src: url(./assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "OpenSans-Light";
    src: url(./assets/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "OpenSans-Medium";
    src: url(./assets/fonts/OpenSans-Medium.ttf);
}

@font-face {
    font-family: "Vazir";
    src: url(./assets/fonts/Vazirmatn-VariableFont_wght.ttf);
}

body {
    font-family: "Vazir", "OpenSans";
}
